[
	{
		"product": "front-portal-plugins",
		"acronym": "ptplg",
		"layer": "frontend",
		"application": "front-portal-plugins",
		"roots": [],
		"integration": {
			"javascript": {
				"npm": ["update"],
				"grunt": ["dist"]
			}
		},
		"infrastructure": {
			"javascript": {
				"grunt": ["vtex_deploy"]
			}
		}
	}
	
]
