<div class="sku-selector-container">
    {% for dimension in dimensions %}
    <ul class="topic {{ dimension.name | sanitize }}">
        <li class="specification">{{dimension.name}}</li>
        <li class="select item-dimension-{{ dimension.name | sanitize }}">
            <span class="group_{{ dimension.index }}">
                {% if dimension.radio %}
                    {% for value in dimension.values %}
                    <input type="radio"
                           class="item-dimension-{{ dimension.name | sanitize }} sku-selector skuespec_{{ value | sanitize }}"
                           data-dimension="{{dimension.name}}"
                           name="{{ dimension.name | sanitize }}"
                           value="{{ value }}"
                           data-value="{{ value }}"
                           specification="{{ value | sanitize }}"
                           id="{{ productId }}_{{ dimension.name | sanitize }}_{{ forloop.index0 }}"
                           class="skuselector-specification-label change-image">
                    <label for="{{ productId }}_{{ dimension.name | sanitize }}_{{ forloop.index0 }}"
                           class="dimension-{{ dimension.name | sanitize }} espec_{{ dimension.index }} skuespec_{{ value | sanitize }} skuespec_{{ dimension.name | spacesToHyphens }}_opcao_{{ value | spacesToHyphens }}">
                        {{ value }}
                    </label>
                    {% endfor %}
                {% elsif dimension.combo %}
                    <select size="1"
                            id="espec_{{ dimension.index }}_opcao_0"
                            name="espec_{{ dimension.index }}"
                            data-dimension="{{ dimension.name }}"
                            specification="{{ dimension.name | sanitize }}"
                            currentproductid="{{ productId }}"
                            class="sku-selector">
                        <option value=""></option>
                        {% for value in dimension.values %}
                        <option class="skuopcao_{{ forloop.index0 }}"
                                value="{{ value }}">
                            {{ value }}
                        </option>
                        {% endfor %}
                    </select>
                {% endif %}
            </span>
        </li>
    </ul>
    {% endfor %}
</div>