[
	{
		"product": "portal-plugins",
		"acronym": "ptplg",
		"layer": "frontend",
		"application": "portal-plugins",
		"roots": [],
		"integration": {
			"javascript": {
				"npm": ["install", "update"],
				"grunt": "deploy"
			}
		},
		"infrastructure": {
			"s3": {
				"ApplicationDirectory": "ptplg"
			}
		}
	}
]